@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #f1f1f1;
}

.footer li{
  margin: 0.5rem 0.2rem;
}

button{
    user-select: none;
}
label{
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: #111311;
}

input,textarea{
  background-color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  color: #3a3a3a;
  font-weight: 600;
  letter-spacing: 1px;
}